



* { margin:0;padding:0; }
body {background-color:#f3eddd;  }

<!--Typography -->

strong, b {
	font-weight: bold;
	}

	p {
	margin-top: 0;
	margin-bottom: 1em;
	font-size: 0.8em;
	text-align: left; /* Hack: to avoid IE6 randomly center align the text */
	line-height: 1.50;
	color: #333333;
    font-family: verdana;	
	}

h1 {
	font-size: 120%;
    margin-bottom:20px;   
    font-family:Arial ;	
	color:#000066;
	line-height: 1.50;
	border-bottom:1px solid #CCCCCC;
	}
	
h2 {
	font-size: 100%;
    margin:20px 0 20px 0;   
    font-family: Arial;
	color: #666666;
	line-height: 1.50;
	border-bottom:1px solid #ccc;
	}
	
h3 {
	font-size: 100%;
    margin:20px 0 10px 0;   
    font-family: Arial;
	font-weight:normal;
		border-bottom:1px dashed #ccc;

	}
	
	
h4 {
	font-size: 85%;
	margin: 0;
    color: #666666;
    font-family: Arial;
	color:#333333;

	}
	
h5 {
	font-size: 80%;
	font-weight: normal;
	color: #666666;
	font-family: Verdana;
	margin: 0;
	}
	
h6 {
	font-size: 64%;
	font-weight: bold;
	margin: 0;
	}

/* Typography: Links */
a{
	color: #339999;
	text-decoration:none;
}

a:link{
	color:#599100;
	text-decoration: underline;
}

a:visited {
	color: #336633;
	text-decoration:underline;
}

a:hover,a:active {
	color:#669900;
	text-decoration:underline;
}

a img { border-style:none; }


/* Content container box */

#container {width:960px;border:1px solid #ccc;-moz-border-radius-topleft: 30px;-moz-border-radius-bottomright: 30px;-moz-border-radius-bottomleft: 30px;-moz-border-radius-topright: 30px;margin:10px auto;padding:5px 15px;background-color:#fff; }

/* Header, ECI logo and tag line */

#header { margin:0; padding:0;}

/* Navigation */

#sitenavigation{ position:relative; clear:right;  float:right; width:35%; text-align:right; color: #333333; font-size:70%; padding: 4px 0px; font-family:verdana; }

#nav { clear:both;height:32px;padding:6px 0 0 0;  }
#nav li { list-style:none;display:block;float:left;border:1px solid #ad9375;padding:6px;margin:0 3px 0 0;-moz-border-radius-topleft: 10px;-moz-border-radius-topright: 10px;border-bottom:0; }
#nav li a { font:bold 16px champ, arial, champ, arial, verdana, sans-serif, sans-serif;text-decoration:none; color: #6e5742;  }
#nav li:hover { background:#1086af; }
#nav li:hover a { color:#FFF; }

#nav2 { clear:both; border-bottom:1px dotted #666; background-color:#e4dbd1;height:32px; }
#nav2 li { list-style:none;display:block;float:left;border:0px solid #666;padding:6px;margin:0; }
#nav2 li a { font:bold 14px champ, arial, champ, arial, verdana, sans-serif, sans-serif;text-decoration:underline;	color: #6e5742;  }
#nav2 li:hover { background:#1086af; }
#nav2 li:hover a { color:#FFF; }
#nav2 h1{ font:bold 14px champ, arial, champ, arial, verdana, sans-serif, sans-serif;text-decoration:none; display:inline; float:left; clear:both; 	line-height: 1.2em; margin: 8px 0 6px 8px; color:#333333; border-bottom:none;;
}

/* Main Content */

#content { float:left;width:690px;padding:20px 20px 0 0;}

#welcome { margin-left:35px; height:300px; }
#contenttop {padding:10px;	border:1px solid #ccc; height:auto;-moz-border-radius-bottomleft: 5px;-moz-border-radius-topright: 5px;-moz-border-radius-bottomright: 5px;-moz-border-radius-topleft: 5px; }
#contenttop img {padding:10px;	float:right; display:block; }

.column { float:left;width:215px;padding:5px;margin:20px 5px 5px 0px; }
.column img { margin:10px 0 0 0; }
.column p{font-size:0.70em;font-family:verdana; line-height:1.45em; border-bottom:1px solid #ccc; padding:3px 0 8px 0;}
.colresearch { width:210px;border:1px solid #ccc;-moz-border-radius-bottomleft: 5px;-moz-border-radius-topright: 5px;-moz-border-radius-bottomright: 5px;-moz-border-radius-topleft:5px; padding:5px; margin:0 0 4px 0;color:#fff; background-color:#1086af;}


#col1 {float:left; width:62%; margin:0;}
#col3 {float:auto; margin:0 0 0 36%;}
#col1-content {padding:0 10px 0 20px;}
#col3-content {padding:0 10px;}

#contentfooter { clear:both;width:960px;padding:30px 0 10px 0;text-align:left; }
#contentfooter h1 { font-size:0.75em; font-style:normal; }
#footer {
	clear: both;
	bottom: 0;
	left: 0;
	margin: 0;
	padding: 20px 2px 2px 2px;
	background-color: inherit;
	color: #333;	
	font-size: 0.8em;
	text-align:center;
	}

#footer p {
	margin: 0;
	padding: 2px;
	}
	
#footer a, #footer a:visited, #footer a:hover {
	background: inherit;
	color: #333;	
	text-decoration: none;
	font-weight: bold;
	margin: 0;
	padding: 0;
	}


/* Right hand column */


#sidebar { float:right;width:250px;padding:20px 0 0 0;  font-family:verdana;}
.sidepanel { float:right; width:225px;border:1px solid #ccc;-moz-border-radius-bottomleft: 5px;-moz-border-radius-topright: 5px;-moz-border-radius-bottomright: 5px;-moz-border-radius-topleft: 5px;padding:5px;margin:0 0 4px 0; }

.sidepanelresearch { float:right; width:225px;border:1px solid #ccc;-moz-border-radius-bottomleft: 5px;-moz-border-radius-topright: 5px;-moz-border-radius-bottomright: 5px;-moz-border-radius-topleft:5px; padding:5px; margin:0 0 4px 0;color:#fff; background-color:#1086af; font-family:Arial;}


.table {font-size:75%; padding:0; margin:0;}
.table th{color:#000066; font-size:120%;padding:0; margin:0;}
.table td {vertical-align:top; padding: 2px;}
.sidepanel h4 { color:#1086af; }
.sidepanel p { padding:2px 0;font-size:80%;color:#333; }
.sidepanel h1 { color:#660033;} 




#navdrop { clear:both; border-bottom:1px solid #ad9375; background-color:#e4dbd1;height:32px; }
#navdrop ul {
			font-family: Arial, Verdana;
			position: relative;
			margin: 0;
			padding: 0;
			list-style: none;
			z-index:999;
			font-weight:bold;
			font-size:0.95em;

		}
#navdrop		ul li {
			display: block;
			position: relative;
			float: left;
			z-index:999
		}
#navdrop		li ul { display: none; }
#navdrop		ul li a {
			display: block;
			text-decoration: none;
			color:  #6e5742;
			padding: 5px 15px 5px 15px;
			background: #e4dbd1;
			margin-left: 1px;
			white-space: nowrap;
		}
		
#navdrop		ul li a:hover { background: #1086af;	color:  #fff; 			text-decoration: underline;
}
#navdrop		li:hover ul { 
			display: block; 
			position: absolute;
		}
#navdrop		li:hover li { 
			float: none;
			font-size: 11px;
		}
#navdrop	li:hover a { background: #1086af;color:  #fff; }
#navdrop		li:hover li a:hover { background:#000033;	color:#fff; }	


